<div class="mdl-layout__drawer">
  <span class="mdl-layout-title">
  	<img class="drawer__brand-logo" src="{{ basePath }}../assets/img/drawer-logo.png" alt="Logo">
  </span>
  <ul class="mdl-navigation">
    <li class="mdl-navigation__open mdl-navigation__active">
    	<a class="mdl-navigation__link" href="#"><span class="icon icon-football"></span>Football</a>
      <ul class="mdl-sub-navigation">
        <li class="mdl-sub-navigation__category"><span class="cat-icon icon-star"></span><a href="#" class="icon"><span class="material-icons">&#xE8B8;</span></a>My Leagues</li>
        <li><a class="mdl-navigation__link" href="#"><img src="{{ basePath }}../assets/img/premier-league.png" alt="Premier League">Premier League</a></li>
        <li><a class="mdl-navigation__link" href="#"><img src="{{ basePath }}../assets/img/championship.png" alt="Championship">Championship</a></li>
        <li><a class="mdl-navigation__link" href="#"><img src="{{ basePath }}../assets/img/bundesliga.png" alt="Bundesliga">Bundesliga</a></li>
        <li><a class="mdl-navigation__link" href="#"><img src="{{ basePath }}../assets/img/seriea.png" alt="Serie A">Serie A</a></li>
        <li><a class="mdl-navigation__link" href="#"><img src="{{ basePath }}../assets/img/spanish-league.png" alt="Spanish League">Spanish League</a></li>
        <li><a class="mdl-navigation__link" href="#"><img src="{{ basePath }}../assets/img/champions-league.png" alt="Champions League">Champions League</a></li>
        <li><a class="mdl-navigation__link" href="#"><img src="{{ basePath }}../assets/img/league-cup.png" alt="League Cup">League Cup</a></li>
        <li class="mdl-navigation__show-all"><a class="mdl-navigation__link" href="#"><span class="icon-caret-select"></span>Show All</a></li>
      </ul>
    	<ul class="mdl-sub-navigation">
        <li class="mdl-sub-navigation__category"><span class="cat-icon icon-star"></span><a href="#" class="icon"><span class="material-icons">&#xE8B8;</span></a>My Leagues</li>
    		<li><a class="mdl-navigation__link" href="#"><img src="{{ basePath }}../assets/img/psg.png" alt="Barcelona">Barcelona</a></li>
    		<li><a class="mdl-navigation__link" href="#"><img src="{{ basePath }}../assets/img/manchester.png" alt="PSG">PSG</a></li>
    		<li><a class="mdl-navigation__link" href="#"><img src="{{ basePath }}../assets/img/barcelona.png" alt="Juventus Turin">Juventus Turin</a></li>
    		<li><a class="mdl-navigation__link" href="#"><img src="{{ basePath }}../assets/img/juventus.png" alt="Bayern Munich">Bayern Munich</a></li>
        <li class="mdl-navigation__show-all"><a class="mdl-navigation__link" href="#"><span class="icon-caret-select"></span>Show All</a></li>
    	</ul>
    </li>
    <li><a class="mdl-navigation__link" href=""><span class="icon icon-tennis"></span>Tennis</a></li>
    <li><a class="mdl-navigation__link" href=""><span class="icon icon-rugby"></span>Rugby</a></li>
    <li><a class="mdl-navigation__link" href=""><span class="icon icon-basketball"></span>Basketball</a></li>
    <li><a class="mdl-navigation__link" href=""><span class="icon icon-volley"></span>Voleyball</a></li>
    <li><a class="mdl-navigation__link" href=""><span class="icon icon-am-football"></span>American Football</a></li>
    <li><a class="mdl-navigation__link" href=""><span class="icon icon-baseball"></span>Baseball</a></li>
    <li><a class="mdl-navigation__link" href=""><span class="icon icon-hockey"></span>Ice Hockey</a></li>
    <li><a class="mdl-navigation__link" href=""><span class="icon icon-handball"></span>Handball</a></li>
    <li><a class="mdl-navigation__link" href=""><span class="icon icon-news"></span>Sports News</a></li>
    <li class="mdl-navigation__app-link">
      <a class="mdl-navigation__link"  href="">
        <span class="app-link__logo"><img src="{{ basePath }}../assets/img/ls-app-logo-166.png" width="80px" alt="Marcadores for Android"></span>
        <span class="app-link__tagline">Get the Marcadores.com app now!</span>
      </a>
      <a class="mdl-navigation__link" href="#">
        <span class="app-link__store-btn"><img src="{{ basePath }}../assets/img/store-google-play.png" width="120px" alt="Get the app"></span>
      </a>
    </li>
    <li class="mdl-navigation__social">
      <a class="mdl-navigation__link" href="#"><span class="icon icon-facebook"></span></a>
      <a class="mdl-navigation__link" href="#"><span class="icon icon-twitter"></span></a>
      <a class="mdl-navigation__link" href="#"><span class="icon icon-googleplus"></span></a>
    </li>
    <li><a class="mdl-navigation__link" href=""><span class="icon icon-help"></span>Help</a></li>
    <li><a class="mdl-navigation__link" href=""><span class="icon icon-view_list"></span>Sitemap</a></li>
    <li><a class="mdl-navigation__link" href=""><span class="icon icon-info"></span>About WhatTheScore</a></li>
    <li><a class="mdl-navigation__link" href=""><span class="icon icon-verified_user"></span>Conditions and Privacy</a></li>
    <li><a class="mdl-navigation__link" href=""><span class="icon icon-email"></span>Contact us</a></li>
  </ul>
</div>