<div class="mdl-button-group mdl-button-group--block">
  <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--large">
    <span class="mdl-button__icon icon-caret-left"></span>
  </a>
  <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--large mdl-button--wide">
    <span class="mdl-button__value">Grid 10</span><span class="mdl-button__icon mdl-button__icon-right icon-caret-down"></span>
  </a>
  <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--large">
    <span class="mdl-button__icon icon-caret-right"></span>
  </a>
</div>

<ul class="mdl-list mdl-list-linked ls-list ls-standing-table ls-standing-table--left ls-contest-prediction-standing">
  <li class="row row--head">
    <div class="cell cell__rank">#</div>
    <div class="cell cell__stat"><span class="icon-arrow-up-down"></span></div>
    <div class="cell cell__team">Team</div>
    <div class="cell cell__total-points">Pts</div>
  </li>

  <li class="row">
    <div class="cell cell__rank cell__rank--green">1</div>
    <div class="cell cell__stat cell__stat--up"><span>+1</span></div>
    <div class="cell cell__team">
      <div class="cell__team--flag"><img src="{{ basePath }}../assets/img/avatar5.png" alt="Avatar"></div>
      <div class="cell__team--title"><a href=""><span>Amy Brooks</span></a></div>
    </div>
    <div class="cell cell__total-points">234</div>
  </li>
  <li class="row">
    <div class="cell cell__rank cell__rank--green">2</div>
    <div class="cell cell__stat cell__stat--up"></div>
    <div class="cell cell__team">
      <div class="cell__team--flag"><img src="{{ basePath }}../assets/img/avatar6.png" alt="Avatar"></div>
      <div class="cell__team--title"><a href=""><span>Ruth Daniels</span></a></div>
    </div>
    <div class="cell cell__total-points">223</div>
  </li>
  <li class="row">
    <div class="cell cell__rank cell__rank--clear-green">3</div>
    <div class="cell cell__stat cell__stat--up"></div>
    <div class="cell cell__team">
      <div class="cell__team--flag"><img src="{{ basePath }}../assets/img/avatar7.png" alt="Avatar"></div>
      <div class="cell__team--title"><a href=""><span>Bobby Stone</span></a></div>
    </div>
    <div class="cell cell__total-points">220</div>
  </li>
  <li class="row">
    <div class="cell cell__rank cell__rank--blue">4</div>
    <div class="cell cell__stat cell__stat--down"><span>-2</span></div>
    <div class="cell cell__team">
      <div class="cell__team--flag"><img src="{{ basePath }}../assets/img/avatar8.png" alt="Avatar"></div>
      <div class="cell__team--title"><a href=""><span>Eric Fisher</span></a></div>
    </div>
    <div class="cell cell__total-points">220</div>
  </li>
  <li class="row">
    <div class="cell cell__rank cell__rank--clear-blue">5</div>
    <div class="cell cell__stat"></div>
    <div class="cell cell__team">
      <div class="cell__team--flag"><img src="{{ basePath }}../assets/img/avatar9.png" alt="Avatar"></div>
      <div class="cell__team--title"><a href=""><span>Emily Elliott</span></a></div>
    </div>
    <div class="cell cell__total-points">218</div>
  </li>
  <li class="row">
    <div class="cell cell__rank cell__rank--grey">6</div>
    <div class="cell cell__stat"></div>
    <div class="cell cell__team">
      <div class="cell__team--flag"><img src="{{ basePath }}../assets/img/avatar10.png" alt="Avatar"></div>
      <div class="cell__team--title"><a href=""><span>Edward Greene</span></a></div>
    </div>
    <div class="cell cell__total-points">189</div>
  </li>
  <li class="row">
    <div class="cell cell__rank cell__rank--grey">7</div>
    <div class="cell cell__stat"></div>
    <div class="cell cell__team">
      <div class="cell__team--flag"><img src="{{ basePath }}../assets/img/avatar11.png" alt="Avatar"></div>
      <div class="cell__team--title"><a href=""><span>Joe Freeman</span></a></div>
    </div>
    <div class="cell cell__total-points">187</div>
  </li>
  <li class="row">
    <div class="cell cell__rank cell__rank--grey">8</div>
    <div class="cell cell__stat"></div>
    <div class="cell cell__team">
      <div class="cell__team--flag"><img src="{{ basePath }}../assets/img/avatar12.png" alt="Avatar"></div>
      <div class="cell__team--title"><a href=""><span>Willie Carroll</span></a></div>
    </div>
    <div class="cell cell__total-points">184</div>
  </li>
  <li class="row">
    <div class="cell cell__rank cell__rank--grey">9</div>
    <div class="cell cell__stat"></div>
    <div class="cell cell__team">
      <div class="cell__team--flag"><img src="{{ basePath }}../assets/img/avatar13.png" alt="Avatar"></div>
      <div class="cell__team--title"><a href=""><span>Jonathan Morris</span></a></div>
    </div>
    <div class="cell cell__total-points">183</div>
  </li>
  <li class="row">
    <div class="cell cell__rank cell__rank--grey">10</div>
    <div class="cell cell__stat"></div>
    <div class="cell cell__team">
      <div class="cell__team--flag"><img src="{{ basePath }}../assets/img/avatar14.png" alt="Avatar"></div>
      <div class="cell__team--title"><a href=""><span>Alexander Armstrong</span></a></div>
    </div>
    <div class="cell cell__total-points">156</div>
  </li>

  <li class="row row--show-all">
    <div class="cell cell__button">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
        SHOW ALL
      </button>
    </div>
  </li>

  <li class="row">
    <div class="cell cell__rank cell__rank--grey">243</div>
    <div class="cell cell__stat"></div>
    <div class="cell cell__team">
      <div class="cell__team--flag"><img src="{{ basePath }}../assets/img/avatar15.png" alt="Avatar"></div>
      <div class="cell__team--title"><a href=""><span>Janice Arnold</span></a></div>
    </div>
    <div class="cell cell__total-points">103</div>
  </li>
  <li class="row">
    <div class="cell cell__rank cell__rank--grey">244</div>
    <div class="cell cell__stat cell__stat--down"><span>-1</span></div>
    <div class="cell cell__team">
      <div class="cell__team--flag"><img src="{{ basePath }}../assets/img/avatar16.png" alt="Avatar"></div>
      <div class="cell__team--title"><a href=""><span>Maria Larson</span></a></div>
    </div>
    <div class="cell cell__total-points">103</div>
  </li>
  <li class="row row--current-user">
    <div class="cell cell__rank cell__rank--grey">245</div>
    <div class="cell cell__stat cell__stat--up"><span>+1</span></div>
    <div class="cell cell__team">
      <div class="cell__team--flag"><img src="{{ basePath }}../assets/img/avatar3.png" alt="Avatar"></div>
      <div class="cell__team--title"><a href=""><span>Sébastien A.</span></a></div>
    </div>
    <div class="cell cell__total-points">103</div>
  </li>
  <li class="row">
    <div class="cell cell__rank cell__rank--grey">246</div>
    <div class="cell cell__stat"></div>
    <div class="cell cell__team">
      <div class="cell__team--flag"><img src="{{ basePath }}../assets/img/avatar17.png" alt="Avatar"></div>
      <div class="cell__team--title"><a href=""><span>Justin Weaver</span></a></div>
    </div>
    <div class="cell cell__total-points">99</div>
  </li>
  <li class="row">
    <div class="cell cell__rank cell__rank--grey">247</div>
    <div class="cell cell__stat"></div>
    <div class="cell cell__team">
      <div class="cell__team--flag"><img src="{{ basePath }}../assets/img/avatar18.png" alt="Avatar"></div>
      <div class="cell__team--title"><a href=""><span>David Cox</span></a></div>
    </div>
    <div class="cell cell__total-points">97</div>
  </li>
  <li class="row">
    <div class="cell cell__rank cell__rank--grey">248</div>
    <div class="cell cell__stat"></div>
    <div class="cell cell__team">
      <div class="cell__team--flag"><img src="{{ basePath }}../assets/img/avatar19.png" alt="Avatar"></div>
      <div class="cell__team--title"><a href=""><span>Donna King</span></a></div>
    </div>
    <div class="cell cell__total-points">95</div>
  </li>
  <li class="row">
    <div class="cell cell__rank cell__rank--grey">249</div>
    <div class="cell cell__stat"></div>
    <div class="cell cell__team">
      <div class="cell__team--flag"><img src="{{ basePath }}../assets/img/avatar20.png" alt="Avatar"></div>
      <div class="cell__team--title"><a href=""><span>Nicholas May</span></a></div>
    </div>
    <div class="cell cell__total-points">94</div>
  </li>
</ul>

<div class="ls-legend">
  <div class="ls-legend__title">
      <span>LEGEND</span>
  </div>
  <ul class="ls-legend__content">
    <li class="row">
      <div class="cell cell__rank cell__rank--green"></div>
      <div class="cell cell__explanation">
        <span>Wins Playstation 4</span>
      </div>
    </li>
    <li class="row">
      <div class="cell cell__rank cell__rank--blue"></div>
      <div class="cell cell__explanation">
        <span>Qualified for French Cup</span>
      </div>
    </li>
    <li class="row">
      <div class="cell cell__rank cell__rank--clear-green"></div>
      <div class="cell cell__explanation">
        <span>Qualified for Europa League</span>
      </div>
    </li>
    <li class="row">
      <div class="cell cell__rank cell__rank--red"></div>
      <div class="cell cell__explanation">
        <span>Downgraded to League 2</span>
      </div>
    </li>
  </ul>
</div>