
<ul class="mdl-list ls-list ls-list-match-score-header">

    <li class="row row--match-score-header">
        <a class="cell cell__flag" href="#">
            <img src="{{ basePath }}../assets/img/psg.png" alt="PSG">
        </a>
        <a class="cell cell__team cell__team--team1" href="#">
            <span class="">PSG</span>
        </a>
        <div class="cell cell__score-box">
            <div class="cell__score--number">
                <span class=""></span>
                <span class="versus"> - </span>
                <span class=""></span>
            </div>
            <div class="cell__score--add">
                <span>
                    20h30
                </span>
            </div>
        </div>
        <a class="cell cell__team cell__team--team2" href="#">
            <span class="">ASSE</span>
        </a>
        <a class="cell cell__flag" href="#">
            <img src="{{ basePath }}../assets/img/saint-etienne.png" alt="Saint Etienne">
        </a>
    </li>

    <li class="row row--match-score-header live">
        <a class="cell cell__flag" href="#">
            <img src="{{ basePath }}../assets/img/psg.png" alt="PSG">
        </a>
        <a class="cell cell__team cell__team--team1" href="#">
            <span class="">PSG</span>
        </a>
        <div class="cell cell__score-box">
            <div class="cell__score--number">
                <span class="">2</span>
                <span class="versus"> - </span>
                <span class="">1</span>
            </div>
            <div class="cell__score--add">
                <span class="period">1H</span>
                <span class="divider">-</span>
                <span class="minute">90'+4</span>
            </div>
        </div>
        <a class="cell cell__team cell__team--team2" href="#">
            <span class="">ASSE</span>
        </a>
        <a class="cell cell__flag" href="#">
            <img src="{{ basePath }}../assets/img/saint-etienne.png" alt="Saint Etienne">
        </a>
    </li>


    <li class="row row--match-score-header paused">
        <a class="cell cell__flag" href="#">
            <img src="{{ basePath }}../assets/img/psg.png" alt="PSG">
        </a>
        <a class="cell cell__team cell__team--team1" href="#">
            <span class="">PSG</span>
        </a>
        <div class="cell cell__score-box">
            <div class="cell__score--number">
                <span class="">2</span>
                <span class="versus"> - </span>
                <span class="">1</span>
            </div>
            <div class="cell__score--add">
                <span class="minute">HT</span>
            </div>
        </div>
        <a class="cell cell__team cell__team--team2" href="#">
            <span class="">ASSE</span>
        </a>
        <a class="cell cell__flag" href="#">
            <img src="{{ basePath }}../assets/img/saint-etienne.png" alt="Saint Etienne">
        </a>
    </li>


    <li class="row row--match-score-header">
        <a class="cell cell__flag" href="#">
            <img src="{{ basePath }}../assets/img/psg.png" alt="PSG">
        </a>
        <a class="cell cell__team cell__team--team1" href="#">
            <span class="">PSG</span>
            <div class="qualified">
                <span class="icon-tick"></span>
                <span data-short="QFD" class="text"><span>Qualified</span></span>
            </div>
        </a>
        <div class="cell cell__score-box">
            <div class="cell__score--number">
                <span class="">2</span>
                <span class="versus"> - </span>
                <span class="">1</span>
            </div>
            <div class="cell__score--add">
                <span>
                    Finished
                </span>
            </div>
        </div>
        <a class="cell cell__team cell__team--team2" href="#">
            <span class="">ASSE</span>
        </a>
        <a class="cell cell__flag" href="#">
            <img src="{{ basePath }}../assets/img/saint-etienne.png" alt="Saint Etienne">
        </a>
    </li>

</ul>
