<ul class="mdl-list ls-list ls-list-countries">
    <li class="row row--country">
        <div class="cell cell__flag">
            <span class="icon-placeholder"><img src="{{ basePath }}../assets/img/flag-int.png" alt="International"/></span>
        </div>
        <div class="cell cell__country">
            <span>International</span>
        </div>
        <div class="cell cell__badge">
            <span class="mdl-badge mdl-badge-countries mdl-badge--large mdl-badge--normal" data-badge="20"></span>
            <span class="mdl-badge mdl-badge-countries mdl-badge--large live" data-badge="20"></span>
        </div>
    </li>

    <li class="row row--country">
        <div class="cell cell__flag">
            <span class="icon-placeholder"><img src="{{ basePath }}../assets/img/flag-ger.png" alt="Germany"/></span>
        </div>
        <div class="cell cell__country">
            <span>Germany</span>
        </div>
        <div class="cell cell__badge">
            <span class="mdl-badge mdl-badge-countries mdl-badge--large mdl-badge--normal" data-badge="20"></span>
            <span></span>
        </div>
    </li>

    <li class="row row--country">
        <div class="cell cell__flag">
            <span class="icon-placeholder"><img src="{{ basePath }}../assets/img/flag-eng.png" alt="England"/></span>
        </div>
        <div class="cell cell__country">
            <span>England</span>
        </div>
        <div class="cell cell__badge">
            <span class="mdl-badge mdl-badge-countries mdl-badge--large mdl-badge--normal" data-badge="20"></span>
            <span></span>
        </div>
    </li>

    <li class="row row--country">
        <div class="cell cell__flag">
            <span class="icon-placeholder"><img src="{{ basePath }}../assets/img/flag-fr.png" alt="France"/></span>
        </div>
        <div class="cell cell__country">
            <span>France</span>
        </div>
        <div class="cell cell__badge">
            <span class="mdl-badge mdl-badge-countries mdl-badge--large mdl-badge--normal" data-badge="20"></span>
            <span></span>
        </div>
    </li>

    <li class="row row--country">
        <div class="cell cell__flag">
            <span class="icon-placeholder"><img src="{{ basePath }}../assets/img/flag-brasil.png" alt="Brasil"/></span>
        </div>
        <div class="cell cell__country">
            <span>Brasil</span>
        </div>
        <div class="cell cell__badge">
            <span class="mdl-badge mdl-badge-countries mdl-badge--large mdl-badge--normal" data-badge="20"></span>
            <span></span>
        </div>
    </li>

    <li class="row row--country">
        <div class="cell cell__flag">
            <span class="icon-placeholder"><img src="{{ basePath }}../assets/img/flag-lao.png" alt="Lao Democraty"/></span>
        </div>
        <div class="cell cell__country">
            <span>Lao Democraty very very lon text jqgfjqgfjqf</span>
        </div>
        <div class="cell cell__badge">
            <span class="mdl-badge mdl-badge-countries mdl-badge--large mdl-badge--normal" data-badge="20"></span>
            <span></span>
        </div>
    </li>
</ul>