{% extends "layouts/default-layout.twig" %}

{% set ls_header_fixed_tabs = 'competition' %}
{% set ls_header_season_button = true %}
{% set ls_header_star_icon_active = true %}


{% set main_content %}
		<section class="mdl-layout__tab-panel is-active" id="scroll-tab-1">
			<div class="page-content">{{content_tab_1}}</div>
		</section>
		<section class="mdl-layout__tab-panel" id="scroll-tab-2">
			<div class="page-content">{{content_tab_2}}</div>
		</section>
		<section class="mdl-layout__tab-panel" id="scroll-tab-3">
			<div class="page-content">{{content_tab_3}}</div>
		</section>
		<section class="mdl-layout__tab-panel" id="scroll-tab-4">
			<div class="page-content">{{content_tab_4}}</div>
		</section>
	{{main_content}}
{% endset %}


